.section {
  width: 844px;
  height: 100%;

  overflow-y: auto;
}

.ordersList {
  width: 824px;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.link {
  text-decoration: none;
  color: var(--text-primary-color);
}