.order-id {
  margin: 0 100px 32px 0;
  padding: 0 0 0 100px;

  width: 520px;

  text-align: center;
}

.title {
  margin: 0 100px 60px 0;
  padding: 0 0 0 100px;
}

.icon-done {
  display: block;
  margin: 0 auto 60px;
}

.text-one {
  margin: 0 100px 8px 0;
  padding: 0 0 0 100px;
}

.text-two {
  margin: 0 100px 120px 0;
  padding: 0 0 0 100px;

  color: #8585ad;
}
