.orderCard {
  padding: 24px;

  width: 100%;

  background: var(--modal-background);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.orderId {
  display: flex;
  justify-content: space-between;

  font-family: var(--font-digital);
  font-size: 28px;
  line-height: 24px;
}

.orderDate {
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 24px;

  color: var(--text-secondary-color);
}

.orderName {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderStatus {
  margin-top: -16px;

  font-size: 16px;
  line-height: 24px;

  color: var(--text-primary-color);
}

.orderComponents {
  display: flex;
  justify-content: space-between;
}

.orderIngredients {
  display: flex;
  flex-direction: row-reverse;

  position: relative;
}

.overlay {
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 0;
  right: 48px;

  border-radius: 40px;

  z-index: 1;
}

.overlay+.img {
  filter: brightness(50%);
}

.img {
  position: relative;
  margin-right: -16px;
}

.orderPrice {
  display: flex;
  align-items: center;
  column-gap: 8px;

  font-family: var(--font-digital);
  font-size: 28px;
  line-height: 24px;
}

.orderPrice svg {
  width: 22px;
  height: 22px;
}