.container {
  margin: 0 auto 16px;
  padding: 24px;

  width: 584px;

  border-radius: 40px;
  background-color: #1C1C21;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin: 0;
  padding: 0;
}

.date {
  margin: 0;
  padding: 0;
  color: #8585AD;
}

.row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_container {
  z-index: 1;
}

.icon {
  position: relative;
}

.icon_last {
  position: relative;
  opacity: .5;
}

.cost {
  margin: 0;
  padding: 0;
}

.cost::after {
  content: url(../../images/current-icon.svg);
  margin-left: 8px;
  position: relative;
  top: 4px;
}