.main {
  width: 600px;

  display: flex;
  flex-direction: column;
}

.tabs {
  margin: 0 0 40px 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients {
  flex: 1 1 auto;

  overflow-y: auto;
}
