.ingredients {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.ingredients__tabs {
  margin-bottom: 40px;
}

.ingredients__container {
  max-height: 640px;
  overflow-y: auto;
}

.modal__title {
  margin: 0 40px 0 0;
  padding: 50px 0 0 40px;

  width: 640px;
  height: 64px;

  text-align: start;
  color: #f2f2f3;
}

.modal__image {
  display: block;
  margin: 0 auto 16px;

  width: 520px;
  height: 240px;
}

.modal__name {
  margin: 0 100px 32px 0;
  padding: 0 0 0 100px;

  max-width: 520px;
  min-height: 30px;

  text-align: center;
  color: #f2f2f3;
}

.modal__caloric-contents {
  margin: 0 100px 60px 0;
  padding: 0 0 0 100px;

  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 520px;
  min-height: 56px;
}

.modal__caloric-contents__item {
  margin: 0;
  padding: 0;

  min-width: 20%;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  text-align: center;
  color: #8585ad;
}