.container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.container__tab {
  margin-bottom: 40px;
}

.container__bun {
  display: flex;
  flex-wrap: wrap;
}

.container__sauce {
  display: flex;
  flex-wrap: wrap;
}