.button {
  width: 180px;
  height: 56px;

  background-color: #1c1c21;

  border: none;
  border-radius: 40px;

  color: #8585ad;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.button:hover {
  cursor: pointer;
  color: #f2f2f3;
}