.section {
  height: 100%;
}

.title {
  display: inline-block;
  margin: 40px 0 20px;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  color: var(--text-primary-color);
}

.wrapper {
  height: calc(100% - 100px);

  display: flex;
  column-gap: 40px;
}