.modal {
  background-color: #1c1c21;
  border-radius: 40px;

  text-align: center;
}

.wrapper {
  margin: 0 40px 0 0;
  padding: 50px 0 0 40px;

  display: flex;
  align-items: center;
}

.title {
  width: 640px;

  text-align: start;
  color: #f2f2f3;
}

.close-btn {
  padding: 0;
  border: none;

  width: 32px;
  height: 32px;

  background-image: url(../../images/icon-close.svg);
  background-color: transparent;
}
