.section {
  margin: 0 auto;

  width: 480px;
  height: 100%;

  color: var(--text-primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.button {
  margin-bottom: 56px;
}

.footer {
  text-align: center;
  color: var(--text-secondary-color);
}

.footer>* {
  margin-bottom: 16px;
}

.link {
  color: var(--active);
  cursor: pointer;
  text-decoration: none;
}