.main {
  margin: 0 auto 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0 0 24px 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: var(--text-primary-color);

  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}

.link {
  text-decoration: none;
}