.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 24px 48px;
  gap: 8px 8px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "Img Img"
    "Price Icon"
    "Name Name";
  width: 272px;
  height: 208px;
  position: relative;
}

.Img {
  grid-area: Img;
  width: 240px;
  height: 120px;
}

.Price {
  justify-self: end;
  grid-area: Price;
  width: 60px;
  height: 24px;
  text-align: end;
}

.Icon {
  justify-self: start;
  grid-area: Icon;
  width: 22px;
  height: 22px;
}

.Name {
  grid-area: Name;
  width: 272px;
  height: 48px;
  text-align: center;
}

.count {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;

  background: #4C4CFF;
  border-radius: 16px;
}