.burger {
  width: 600px;
}

.burger__components {
  display: flex;
  flex-direction: column;
}

.burger__container {
  max-height: 450px;
  overflow-y: auto;
}

.burger__item {
  margin-bottom: 10px;
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.burger__item_top {
  margin-bottom: 10px;
  margin-left: 46px;
}

.burger__item_bottom {
  margin: 0 0 40px 46px;
}

.burger__result {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}

.burger__sum {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.burger svg {
  width: 33px;
  height: 33px;
}

.modal__order-id {
  margin: 0 100px 32px 0;
  padding: 120px 0 0 100px;

  width: 520px;

  text-align: center;
}

.modal__title {
  margin: 0 100px 60px 0;
  padding: 0 0 0 100px;
}

.modal__icon-done {
  display: block;
  margin: 0 auto 60px;
}

.modal__text-one {
  margin: 0 100px 8px 0;
  padding: 0 0 0 100px;
}

.modal__text-two {
  margin: 0 100px 120px 0;
  padding: 0 0 0 100px;

  color: #8585ad;
}
