.container {
  margin: 140px auto 0;
  width: 480px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}

.input {
  margin-bottom: 24px;
}

.button {
  display: block;
  margin: 0 auto 80px;
}

.actions {
  margin-bottom: 16px;
  text-align: center;
  color: #8585AD;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}
